﻿@model PKHTest.Models.News

@{
    ViewBag.Title = "Create News";
}

<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.css">

<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1/css/froala_style.min.css" rel="stylesheet" type="text/css" />

<!-- Include external JS libs. -->
<!-- If jquery is loaded from CDN make sure that you remove it from _Layout file -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/codemirror.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.25.0/mode/xml/xml.min.js"></script>

<!-- Include Editor JS files. -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/froala-editor/2.5.1//js/froala_editor.pkgd.min.js"></script>

<h2>Create News</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />
    <div id="divSuccess"></div>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @if (ViewBag.Success != null)
    {
        <div class="alert alert-success">@ViewBag.Success</div>
    }
    <div class="form-group">
        @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
        </div>
    </div>


    @{
        List<SelectListItem> listItems = new List<SelectListItem>();
        var categories = (IEnumerable<PKHTest.Models.Category>)ViewBag.Catetories;
        categories.ToList().ForEach(item =>
        {
            listItems.Add(new SelectListItem
            {
                Text = item.Name,
                Value = item.ID.ToString()
            });
        });
    }

    <div class="form-group">
        <label class="control-label col-md-2" for="CategoryID">Category</label>
        @Html.DropDownListFor(model=>model.CategoryID, listItems, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Content, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextAreaFor(model => model.Content, new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Content, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" value="Create" id="btnCreate" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    <script>
        //ClassicEditor
        //    .create(document.querySelector('#txtContent'))
        //    .catch(error => {
        //        console.error(error);
        //    });
        //CKEDITOR.replace('txtContent');
        $(function () {
            $('#Content').froalaEditor({
                heightMin: 200
                //// Set the file upload URL.
                //fileUploadURL: '/UploadFiles',
                //fileUploadParams: {
                //    id: 'my_editor'
                //}
                //// Set the image upload URL.
                //imageUploadURL: '/Home/UploadImages',
                //imageUploadParams: {
                //    id: 'my_editor'
                //},
                //// Set the video upload URL.
                //videoUploadURL: '/Home/UploadVideos',
                //videoUploadParams: {
                //    id: 'my_editor'
                //}
            });
            $("#btnCreate").click(() => {
                const obj = {};
                obj.Title = $("#Title").val();
                obj.CategoryID = $("#CategoryID").val();
                obj.Content = $("#Content").val();
                $.post("/api/news/create", obj, result => {
                    if (result > 0) $("#divSuccess").addClass("alert alert-success").text("Create News successful");
                });
            });
        });
    </script>
}
