﻿@model PKHTest.Models.vNew

@{
    ViewBag.Title = "Detail";
}

<div class="alert alert-info">
    <div><b>@Html.DisplayFor(model => model.Category) > @Html.DisplayFor(model => model.Title)</b></div>
    <div style="color:grey">@Model.CreatedDate.Value.ToString("MM/dd/yyyy HH:mm")</div>
    @Html.Raw(Model.Content)
</div>

<div class="page-header" style="font-weight:bold">Comment</div>

<div id="divList"></div>

<div class="form-horizontal">
    <div class="row">
        <label class="control-label col-md-2" for="comment">Comment</label>
        <div class="col-md-4">
            <input type="text" name="comment" id="txtComment" class="form-control" />
            <input type="hidden" id="hdfNewsID" value="@Model.ID" />
        </div>
        <div class="col-md-6">
            <button type="button" class="btn btn-default" id="btnSend">Send</button>
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section scripts
{
    <script>
        $(document).ready(() => {
            var newsID = $("#hdfNewsID").val()
            getListComment(newsID);
            $("#btnSend").click(() => {
                const obj = {};
                obj.Content = $("#txtComment").val();
                obj.NewsID = newsID;
                $.post("/api/user/send_message", obj, result => {
                    if (result > 0) alert(result);
                    getListComment(newsID);
                })
            });
        });

        function getListComment(newsID) {
            $.get("/api/user/list_message?newsID=" + newsID, result => {
                console.log(result);

                let items="";
                result.forEach(item => {
                    items += '<div class="alert alert-info row"><div class="col-md-2" style="font-weight:bold">' + item.CreatedBy + '</div><div class="col-md-10">' + item.Content + '</div></div>';
                });
                console.log(items);
                $("#divList").html("");
                $("#divList").append(items);
                $("#txtComment").val("");
            });
        }
    </script>

}
