﻿@model IEnumerable<PKHTest.Models.News>

@{
    ViewBag.Title = "Index";
}

<form action="/Home/Index" method="post" class="form-inline" style="margin-top:10px">
    <label class="control-label col-md-2" for="Layout">Layout</label>
    <select class="form-control" id="Layout" name="Layout">
        <option value="_Layout">Layout 1</option>
        <option value="_Layout2">Layout 2</option>
    </select>
    <button type="submit" class="form-control">Change</button>
</form>

<p>
    <a href="@Url.Action("CreateNews","Home")" class="btn btn-default" style="margin-top:10px">Create News</a>
</p>

@foreach (var item in Model)
{
    <div class="items col-xs-12 clearfix">
        <div class="alert alert-info clearfix">
            <a href='@Url.Action("Detail","Home",new {id=item.ID,title=item.Title.ToSeoUrl() })'><b>@item.Title</b></a>
            <div style="font-size:12px;color:gray">@item.CreatedDate.Value.ToString("MM/dd/yyyy")</div>
        </div>
    </div>
}
